<tr id="item-<%= item.id %>">
  <td><%= link_to "", user_items_path(current_user, item) %><%= item.name %></td>
  <td><%= link_to "", [@user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></td>
</tr>