<h1>New To-Do Item</h1>

<div class="row">
  <div class="col-md-4">
    <p>Type task below:</p>
  </div>
  <div class="col-md-8">
    <%= render partial: 'items/form', locals: {item: @item} %>
  </div>
</div>